@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Virgil';
	src: url('../font/Virgil.woff2') format('woff2');
}

* {
	font-family: 'Virgil', Fallback, sans-serif;
}

.centerForm {
	@apply flex items-center justify-center sm:mt-80 mt-20;
}

.authForm {
	@apply flex flex-col w-80;
}
