@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Virgil';
	src: url('../font/Virgil.woff2') format('woff2');
}

* {
	font-family: 'Virgil', Fallback, sans-serif;
}

.centerDiv {
	@apply flex items-center justify-center sm:mt-80 h-screen;
}
.centerForm {
	@apply flex items-center justify-center sm:mt-80 mt-20;
}

.authForm {
	@apply flex flex-col w-80;
}

.authButton {
	@apply border-solid border-black border-2 py-1 sm:px-4  px-1 rounded-lg hover:bg-black hover:text-white;
}

.spinner {
	@apply inline-block h-5 w-5 animate-spin rounded-full border-2 border-solid border-current border-r-transparent align-[-0.125em] motion-reduce:animate-[spin_1.5s_linear_infinite];
}
